body {
  margin: 0 auto;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  outline: 1px solid;
}

header {
  height: 50px;
  display: flex;
  outline: 1px solid #000000;
}

.header-container {
  flex: 1;
}

.header-start {
  width: 40%;
  padding-left: 20px;
  vertical-align: center;
  height: 100%;
}

.header-sitoname {
  outline: 1px solid #000000;
}

.header-middle {
  width: 30%;
}
.header-search {
  outline: 1px solid #000000;
  padding-top: 8px;
}

.header-search-btn1,.header-search-btn2{
}

.header-end {
  width: 30%;
}

.header-post {
  padding-top: 8px;
  outline: 1px solid #000000;
}

.header-post-btn {
  height: 30px;
  display: block;
  margin: 0 0 0 auto;
  margin-right: 20px;
}

.header-loginuser {
  padding-top: 8px;
  float: right;
  outline: 1px solid #000000;
}

.header-loginuser-btn {
  height: 30px;
  display: block;
  margin: 0 0 0 auto;
  margin-right: 20px;
}

.container{

}

div {
  display: flex;
  flex: 1;
}

nav {
  width: 300px;
  outline: 1px solid #000000;
}

nav ul {
  padding: 0px;
  list-style: none;
  text-align: center;
  
}

nav ul li {
  padding-top: 30px;
}

.mobile-nav{
  display: none;
}

.pulldown{
  display: none;
}

.pulldown-select{
  display: none;
}


main {
  flex: 1;
  outline: 1px solid #000000;
}

aside {
  width: 250px;
  outline: 1px solid #000000;
}

.ad1 {
  height: 100px;
  width: 100px;
}

.ad2 {
  height: 100px;
  width: 100px;
}

footer {
  height: 200px;
  outline: 1px solid #000000;
}


@media screen and (max-width: 1000px) { 
  .right-container {
    flex-direction: column;
  }
  aside {
    margin: 0 auto;
  }
  .ad1{
    width:100%;
  }
  .ad2{
    width:100%;
  }
}


@media screen and (max-width: 700px) {
  body,
  nav,
  aside {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }

  nav ul {
    display: flex;
  }
  nav ul li {
    width: 25%;
    text-align: center;
    padding-top: 0px;
  }

  aside {
    display: flex;
  }
}

@media screen and (max-width: 470px) {
  .header-start {
    padding-left: 0px;
  }

  .header-middle {
    display: none;
  }
  
  nav {
    display: none;
  }

  .header-search-btn2 {
    display: none;
  }
  
  .mobile-nav{
    display: flex;
    margin: 0 auto;
  }

  .mobile-nav p{
    margin: 5px;
  }

  .pulldown{
    display: block;
  }
  
  .pulldown-select{
    display: block;
  }

  .mobile-nav{
    display: flex;
  }
}