body {
    background-color: #f6f6f4;
}

main {
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: white;
    color: #3c4a57;
}

.login h1 {
    text-align: center;
    padding: 20px 0 30px 0;
    font-size: 30px;
    font-weight: 500;
    border-top: 1px solid var(--main-background-color);
    border-bottom: 1px solid var(--main-background-color);
}

.login form {
    box-sizing: border-box;
    padding: 0 40px 50px 40px;
    margin: 10px 0;
}

.login_form input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(131, 152, 182);
    box-sizing: border-box;
    border-radius: 7px;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.form-check {
    margin-bottom: 30px;
}
.pass-forget {
    margin-top: 0;
    padding-bottom: 20px;
    cursor: pointer;
    color: #3c4a57;
    font-size: small;
}

.pass-forget:hover {
    text-decoration: underline;
}
.col-md-8.offset-md-4 {
    text-align: center;
}

button.btn.btn-primary {
    width: 60%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 3px 3px 4px #666666;
    background-color: #9b9b9b;
    color: #ffffff;
    font-size: 20px;
}



a.btn.btn-link {
    display: block;
    text-align: center;
    text-decoration-line: none;
    font-size: 1em;
    background-color: #ffffff;


}
