.tag-container {
    display: flex;
    margin-bottom: 20px;
}
.tag-info-left {
    flex: 2;
}

.tag-info-left h2 {
    display: block;
    text-align: justify;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 1.5em;
}

.tag-info-left ul li {
    display: block;
    margin: 0 5px 3px 0;
    padding: 10px;
    line-height: 1.5;
    list-style-type: none;
    border-left: solid 6px #1d68a7;
    background: #f1f8ff;
    
}
a.hp-url, a.address{
    color: #1A73E8;
}

.tag-info-right {
    flex: 2;
    width: 100%;
}

iframe {
    width: 100%;
}
