.terms {
    display: inline-block;
    font-size: 100%;
    padding: 50px;
}

h1 {
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}
h2 {
    display: block;
    margin: 30px 0 5px 0;
    font-size: 1.5em;
    color: #122219;
    font-weight: bold;
}

p {
    display: block;
    margin: 20px 0 0 20px;
}
li {
    margin-top: 5px;
}
ol {
    display: block;
    list-style-type: decimal;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
}

.end {
    text-align: end;
}
